{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Register Page
{% endblock title %}

{% block content %}
    <div class="container">
        <h2>Register</h2>
        <form method="post" action="{% url 'users:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <p>Already have an account? <a href="{% url 'users:login' %}">Login</a></p>
    </div>
{% endblock content %}
